.signup-page {
  background-image: asset-url('back.png');
  background-position: center;
  background-size: cover;
}

.tree-info-signup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.tree-info-signup h1 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 135%;
  text-align: justify;
  text-transform: uppercase;
  color:transparent;
}

.tree-info-signup img {
  height: fit-content;
  position: relative;
  margin-right: 30px;
}

.devise-info-text {
  padding-right: 40px;
}

.signup {
  background: rgba(4, 33, 2, 0.8);
  border-radius: 30px 30px 0px 0px;
  height: 71vh;
  width: 100vw;
  margin-left: 0px;
}
.login h2 {
  margin-top: 16px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: #C2FC7A;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);

}

.inputs {
  color:#87DB1F !important;
  background-color: transparent !important;
  border-radius: 10px;
  border-color: #FFFFFF !important;
}

.login-form {
  margin-top: 20px;
}

.user-email {
  line-height: 100px;
  color: #FFFFFF;
  margin-bottom: 16px;
}

.remember {
  color: #C2FC7A;
}

.form-actions1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.signup-button1{
  color: black;
  border-radius: 50px;
  background: #87db1f;
  transition: background 0.3s ease;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: -0.005em;
  text-decoration: none;
  width: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8vh;
}


.signup-button1:hover {
  background: #C2FC7A;
  color: rgba(27, 27, 27, 1);
}

.signup h2 {
  margin-top: 16px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: #C2FC7A;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
}

.form-inputs-signup{
  margin-top: 20px;
}

body {
  min-height: 100vh;
}
