.login-page {
  background-image: asset-url('back.png');
  background-position: center;
  background-size: cover;
}

.signup-page {
  background-image: asset-url('back.png');
  background-position: center;
  background-size: cover;
}

.tree-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 40px;
  align-items: flex-start;
}

.tree-info h1 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 150%;
  text-align: justify;
  text-transform: uppercase;
  color: rgba(194, 252, 122, 1);
  ;
  text-shadow: 1px 1px 2px rgba(10, 81, 4, 0.8);
}

img{
  height: fit-content;
  position: relative;
}

.devise-info-text {
  padding-right: 40px;
}

.login {
  background: rgba(4, 33, 2, 0.8);
  border-radius: 30px 30px 0px 0px;
  height: 335px;
  width: 56.2vh;
  margin-left: 0px;
}
.login h2 {
  margin-top: 15px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: #C2FC7A;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
}

.form-actions {
  background: #87DB1F;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
}

.devise-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.inputs {
  color: red !important;
  background-color: black !important;
  border-radius: 10px;
}

.email {
  input {
    background-color: black !important;
  }
}
