.login-page {
  background-image: asset-url('back.png');
  background-position: center;
  background-size: cover;
}

.signup-page {
  background-image: asset-url('back.png');
  background-position: center;
  background-size: cover;
}

.tree-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 40px;
  align-items: flex-start;
}

.tree-info h1 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 135%;
  text-align: justify;
  text-transform: uppercase;
  color: rgba(194, 252, 122, 1);
  text-shadow: 1px 1px 2px rgba(10, 81, 4, 0.8);
}

.tree-info img{
  height: fit-content;
  position: relative;
}

.devise-info-text {
  padding-right: 40px;
}

.login {
  background: rgba(4, 33, 2, 0.8);
  border-radius: 30px 30px 0px 0px;
  height: 335px;
  width: 56.2vh;
  margin-left: 0px;
}
.login h2 {
  margin-top: 16px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: #C2FC7A;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);

}

.inputs {
  color:#87DB1F !important;
  background-color: transparent !important;
  border-radius: 10px;
  border-color: #FFFFFF !important;
}

.login-form {
  margin-top: 20px;
}

.user-email {
  line-height: 100px;
  color: #FFFFFF;
  margin-bottom: 16px;
}

.remember {
  color: #C2FC7A;
}

.form-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.login-button{
  color: rgba(27, 27, 27, 1);
  padding: 15px 39px;
  border-radius: 50px;
  background: #87DB1F;
  transition: background 0.3s ease;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: -0.005em;

}


.login-button:hover {
  background: #C2FC7A;
  color: rgba(27, 27, 27, 1);
}

.signup-button{
  color: rgba(135, 219, 31, 1);
  padding: 20px 39px;
  border-radius: 50px;
  background: transparent;
  border: solid 1px #87DB1F;
  transition: background 0.3s ease;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: -0.005em;
  text-decoration: none;
}


.signup-button:hover {
  background: transparent;
  color: rgb(165, 224, 92);
  border: solid 1px rgb(165, 224, 92);
}

.signup-button a {
  text-decoration: none;
  color:#C2FC7A;
  align-items: center;
}

.signup h2 {
  margin-top: 16px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: #C2FC7A;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
}

.form-inputs-signup{
  margin-top: 20px;
}
