.favorites-list {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
}

.favorites-list h1 {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: #C2FC7A;
  margin-left: 24px;
  margin-bottom: 24px;
}

.favorites {
  background: rgba(52, 52, 52, 0.7);
  border-radius: 15px;
  width: 100%;
  height: 90px;
  padding: 5px;
  align-items: center;
  margin-top: 8px;
  margin-bottom: 8px;
}


.favorite-track-art {
  margin: 10px 3px 10px 10px;

}

.favorite-track-art img{
  height: 64px;
}

.favorite-track-info {
  margin-left: 10px;
  padding-top: 10px;
  min-width: 208px;
  max-width: 208px;
}

.favorite-writing {
  margin-top: 5px;

}

.favorite-track-name {
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  color: #87DB1F;
  text-overflow: ellipsis;
  display: -webkit-box;
   -webkit-line-clamp: 1;
           line-clamp: 1;
   -webkit-box-orient: vertical;
   font-size: 12px;
}

.favorite-track-artist-album {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #BCBCBC;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
   -webkit-line-clamp: 1;
           line-clamp: 1;
   -webkit-box-orient: vertical;
   font-size: 14px;
}
