.friends-contain {
  background-color: white;
}

.username {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
  color: #C2FC7A;
  margin-top: 36px;
  margin-left: 24px;
}
