// Specific CSS for your home-page

.connect-page {
  display: flex;
  flex-direction:  column;
  padding: 15px 10px 10px 15px;
}

.logo-connect {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 80px;
  display: flex;
  justify-content: center;
}

.connect-spotify {
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
}

.connect-spotify h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: #C2FC7A;
}

.button-spotify-connect {
  color: rgba(27, 27, 27, 1);
  border-radius: 50px;
  background: #87DB1F;
  transition: background 0.3s ease;
  line-height: 22px;
  letter-spacing: -0.005em;
  padding: 20px 39px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: -0.005em;
  align-items: center;
  justify-content: center;
  margin: 0 16px 16px 16px;
}


.button-spotify-connect:hover {
  background: #C2FC7A;
  color: rgba(27, 27, 27, 1);
}

.button-spotify-connect a {
  text-decoration: none;
  color: rgba(27, 27, 27, 1);
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
}

.button-spotify-connect1 {
  padding: 20px 39px;
  border-radius: 50px;
  background: transparent;
  border: solid 1px #87DB1F;
  transition: background 0.3s ease;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: -0.005em;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  margin: 0 16px 16px 16px;
}

.button-spotify-connect1:hover {
  background: transparent;
  color: rgb(165, 224, 92);
  border: solid 1px rgb(165, 224, 92);
}

.button-spotify-connect1 a {
  text-decoration: none;
  color: rgba(27, 27, 27, 1);
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  color: rgba(135, 219, 31, 1);
  font-size: 16px;
}

.status-connect {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #BCBCBC;
}

.yessir {
  background: rgba(52, 52, 52, 0.7);
  border-radius: 10px;
  margin: 0 16px 16px 16px;
}
