.center-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(9.43deg, #554E4E -9.63%, #87DB1F 156.6%);
}

.img-logo {
  width: 144.74px;
  height: 157.96px;
}
