
.feed-container {
  height: 100vh;
  margin: 0 24px;
}

body {
  background-color: #1B1B1B;
}

.opener {
  height: 19px;
  left: 24px;
  top: 79px;
  margin-bottom: 20px;

  color: #87DB1F;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
}

.opener-text {
  margin: 100px 0px 5px -33px;
  font-size: 15px;
}

.cards-container {
  padding-top: 10px;
  left: 24px;
  top: 170px;

  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-category {
  padding: 15px;
  background: rgba(52, 52, 52, 0.7);
  width: 320px;
  left: 24px;
  top: 154px;
  margin-bottom: 20px;
  border-radius: 10px;
  color: #FFFFFF;
}

.card-category h6 {
  color: #87DB1F;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
}

.card-info {
  margin-left: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info-band {
  margin:5px;
}

.card-album-cover img {
  height: 100px;
  width: 100px;
  object-fit: cover;
}

.card-comment {
  border-bottom: solid 1px #87DB1F;
  margin-bottom: 10px;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
}

.card-user-info {
  margin-left: 10px;
  margin-bottom: 10px;
}

.card-info p {
  margin: 0px;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
}

.track-name {
  color: #87DB1F;
  font-family: 'Open Sans', sans-serif;
}

.icons {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}
