.feed-container {
  height: 100vh;
  margin: 0 24px;
  padding-top: 30px;
}

body {
  background-color: #1B1B1B;
}

.opener {
  height: 19px;
  left: 24px;
  top: 79px;
  margin-bottom: 20px;

  color: #87DB1F;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
}

.opener-text {
  margin: 15px 0px 5px -33px;
  font-size: 15px;
  padding-top: 15px;
}

.cards-container {
  padding-top: 10px;
  left: 24px;
  top: 170px;

  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-category {
  padding: 15px;
  background: rgba(52, 52, 52, 0.7);
  width: 320px;
  left: 24px;
  top: 154px;
  margin-bottom: 20px;
  border-radius: 10px;
  color: #FFFFFF;
}

h6 {
  color: #87DB1F;
}

.card-info {
  margin-left: 10px;
}

.card-album-cover img {
  height: 100%;
  object-fit: cover;
}

.card-comment {
  border-bottom: solid #87DB1F;
  margin-bottom: 10px;
  font-size: 15px;
}

.card-user-info {
  margin-left: 10px;
  margin-bottom: 10px;
}

.card-info p {
  margin: 0px;
  font-size: 13px;
}

.icons {
  display: flex;
  justify-content: space-around;
}
