
.feed-container {
  // height: 100vh;
  //margin: 0 24px;
}

body {
  background-color: #1B1B1B;
}

.opener {
  width: 260px;
  height: 19px;
  left: 24px;
  top: 79px;
  margin-top: 20px;
  margin-left: 10px;

  color: #87DB1F;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
}

.opener-text {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
}

.cards-container {
  padding-top: 10px;
  left: 24px;
  top: 170px;

  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-category {
  padding: 15px;
  background: rgba(52, 52, 52, 0.7);
  width: 320px;
  left: 24px;
  top: 154px;
  margin-bottom: 20px;
  border-radius: 10px;
  color: #FFFFFF;
}

.card-category h6 {
  color: #87DB1F;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  width: 89.78px;
  height: 14.22px;
  left: 72px;
  top: 163px;
}

.card-info {
  margin-left: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
}


.card-album-cover img {
  height: 100px;
  width: 100px;
  object-fit: cover;
}

.card-comment {
  border-bottom: solid 1px #87DB1F;
  margin-bottom: 10px;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
}

.card-user-info {
  margin-left: 10px;
  margin-bottom: 10px;
}

.post-content {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;

  color: #C1C1C1;
}

.card-info p {
  margin: 0px;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
}

.track-name {
  color: #87DB1F;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
}

.info-band {
  margin: 5px;
}

.icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 20px;
}

.fa-comment {
  color: white;
}

.btn-primary-transparent {
  background: transparent;
  color: white;
  border: 0;
}
