.button-comment {
  background: #87DB1F;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  height: 6vh;
  border-color: 1px solid #87DB1F !important;
}

#comment_content {
  box-sizing: border-box;
  width: 252px;
  height: 6vh;
  border: 1px solid #C1C1C1;
  background-color: transparent;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

#comment_content.form-control{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #C1C1C1;
  padding: 11px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.card-comments {
  border-bottom: solid #87DB1F;
  margin-bottom: 10px;
  font-size: 14px;
}

.commented-ones {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 14px;
  color: #C2FC7A;
  margin-top: 8px;
}

.show-page {
  justify-content: center;
  height: 60vh;
  flex-direction: column;
  align-items: center;
}

.user-info {
  margin-right: 14vh;
}
.user-call {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: #C2FC7A;
}

.leave-comment {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #BCBCBC;
  margin-top: 8px;
  margin-bottom: 10px;
}

.username-say {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  color: #C2FC7A;
}

.said {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF;
}

.ul-comment {
  list-style-type: none;
}
