.footerbar {
  display: flex;
  justify-content: center;
}

.footerbar img {
  background-repeat: none;
  height: 95.5px;
  margin-top: 540px;
  margin-right: 0;
  position:relative

}

.footer-buttons{
  display: flex;
  align-items: center;
  flex-direction: column;

}

.home-button {
  padding: 31px;
  background-color: transparent;
  border-radius: 50px;
  position: absolute;
  margin-top: -80px;
  margin-left: -119px;
}

.post-button1 {
  padding: 42px;
  background-color: transparent;
  border-radius: 50px;
  position: absolute;
  margin-top: -91px;
  margin-left:-42px;
}

.chat-button {
  padding: 31px;
  background-color: transparent;
  border-radius: 50px;
  position: absolute;
  margin-left: 174px;
  margin-top: -80px;
}
