


<div class="footer-main">
  <div class="footer-div">
    <%= image_tag "footer.png", class:"footerbar" %>
  </div>
</div>

  <div class="footer-buttons">
      <%= link_to posts_path do %>
        <div class="home-button">
        </div>
      <% end %>
      <%= link_to search_posts_path do %>
        <div class="post-button1">
        </div>
      <% end %>
      <%= link_to "", href="#" %>
        <div class="chat-button">
        </div>
  </div>
