<div class="footerbar" style="background-image: url('<%= image_path "footer bar.png" %>'); height:300px">
  <div class="buttons">
      <%= link_to "home", href="#", class: "buttonhome" %>
      <%= link_to "post", href="#", class: "buttonpost" %>
      <%= link_to "chat", href="#", class: "buttonchat" %>
  </div>
</div>
