<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= image_tag "favicon.png", class: "navbar-logo" %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <% if user_signed_in? && current_user.photo.attached? %>
        <%= cl_image_tag current_user.photo.key, height: 80, width: 80, crop: :fill, class: "navbar-avatar" %>
      <% else %>
        <%= image_tag "avatar-kurt.png", class: "navbar-avatar" %>
      <% end %>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="User-Dropdown U-open">
        <li><a href="#">My Profile</a></li>
          <li class="nav-item active">
          <%= link_to "Liked songs", favorites_path, class: "dropdown-item nav-link" %>
        </li>
        <li><a href="#">My friends</a></li>
        <li><a href="#">Logout</a></li>
      </ul>
    </div>
  </div>
</div>
