<div class="pending-container">
  <h2>Friend requests received</h2>
</div>

<div class="sent-container">
  <h2>Friend requests sent</h2>
</div>

<div class="friendships-container">
  <h2>All friends</h2>
</div>

<div class="users-container">
  <h2>Add friends</h2>
</div>
