<div class="user-contain d-flex">

  <h1 class="username"><%= current_user.username %></h1>
  <p><%= current_user.bio %></p>

<div class="friends-contain">
  <div class="friends-info d-flex">
      <h2>Friends:</h2>
      <% current_user.friends.each do |friend| %>
        <p><%= friend.username %></p>
      <% end %>
    </div>

    <div class="pending-container">
      <h2>Pending Friends:</h2>
      <% current_user.pending_friends.each do |friend| %>
        <p><%= friend.username %></p>
      <% end %>
    </div>
</div>

</div>
