<h1>The features in the Tree app require users to connect to their spotify account</h1>
<p>(This authentification is only necessary the first time you sign up)</p>

<%= link_to 'Sign in with Spotify', '/auth/spotify', method: :post %>
