<div class="header">
  <div class="logo-terms" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(app/assets/images/logo light.png);">
      <h1><strong>Spotify Terms of Use</strong></h1>
  </div>
</div>

