<div class="footerbar">
  <div class="footer-img">
    <%= image_tag "footer bar.png" %>
  </div>
</div>
  <div class="footer-buttons">
      <%= link_to posts_path do %>
        <div class="home-button">
        </div>
      <% end %>
      <%= link_to search_posts_path do %>
        <div class="post-button1">
        </div>
      <% end %>
      <%= link_to "", href="#" %>
        <div class="chat-button">
        </div>
  </div>
