<div class="info-tree">

  <div class="text-tree">
    <h2>THE SOCIAL</h2>
    <h2>MEDIA APP</h2>
    <h2>TO SHARE</h2>
    <h2>AND DISCOVER</h2>
    <h2>MUSIC WITH</h2>
    <h2>YOUR NETWORK</h2>
    <h2>OF FRIENDS</h2>
  </div>

  <div class="words-tree">
    <h1>LISTEN. SHARE.</h1>
    <h1>DISCOVER.</h1>
    <h1>CONNECT!</h1>
  </div>

  <br>

  <div class="skip">
    <p>skip</p>
    <i class="fa-solid fa-angles-right"></i>
  </div>

</div>
