<h1>Hi Username!</h1>
<h3>What song is on your mind?</h3>

<%= simple_form_for @post do |f| %>
  <%= f.input :tracks, input_html: {value: ""} %>
  <%= f.submit "Song name", class: "btn btn-primary" %>
<% end %>
