
// .footerbar {
//   display: flex;
//   justify-content: center;
//   position: fixed;
// }

.footerbar {
  height: 110px;

  // position: fixed;
  // bottom: 16px;

  // height: 95.5px;
  // margin-top: 16px;
  // margin-right: 0;
  // margin-left: 17vw;
  // position: absolute;

}

.footer-main {
  position: sticky;
  bottom: 0;
  background: linear-gradient(to bottom,transparent, black);

}

.footer-div {
  background: linear-gradient(transparent, black);
  height: 20vh;
  // margin-top: -21vh;
  // position: fixed;
  // background: linear-gradient(2deg, #191919, transparent);
  // height: 15vh;
  // margin-top: 12vh;
  // position: relative;
}

.footer-img {
  display: flex;
}

.footer-buttons{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.home-button {
  padding: 31px;
  background-color: transparent;
  border-radius: 50px;
  position: fixed;
  margin-top: -122px;
  margin-left: -117px;
  // padding: 31px;
  // background-color: transparent;
  // border-radius: 50px;
  // position: fixed;
  // margin-top: -386px;
  // margin-left: -121px;
}

.post-button1 {
  padding: 42px;
  background-color: transparent;
  border-radius: 50px;
  position: fixed;
  margin-top: -135px;
  margin-left: -41px;
  // padding: 42px;
  // background-color: transparent;
  // border-radius: 50px;
  // position: absolute;
  // margin-top: -389px;
  // margin-left: -45px;
}

.chat-button {
  padding: 31px;
  background-color: transparent;
  border-radius: 50px;
  position: fixed;
  margin-left: 174px;
  margin-top: -122px;
  // padding: 31px;
  // background-color: transparent;
  // border-radius: 50px;
  // position: absolute;
  // margin-left: 174px;
  // margin-top: -386px;
}

.page-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}
